<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.course_sl.Item.name %> 報名頁面</title>
    <script>
        const date = new Date();
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = String(date.getDate()).padStart(2, '0');
        const hour = date.getHours();
        const minute = date.getMinutes();
        const second = date.getSeconds();
        const today = `${year}-${month}-${day}`;
        const check_time = `${hour}:${minute}:${second}`;
        async function getCookie(name) {
            console.log(document.cookie);
            let cookieArr = document.cookie.split(";");
            for (let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");
                if (name == cookiePair[0].trim()) {
                    try{
                        const response = await fetch('/check', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ token: cookiePair[1].trim(), courseId: "<%= course.course_sl.Item.course_id %>", date: today, check_time: check_time })
                        });
                        if(response.ok){
                            data = await response.json();
                            console.log(data);
                            if(data.message == "簽到成功")
                                return true;
                            else if(data.message == "已簽到")
                                return '已簽到';
                            else if(data.message == "還未到簽到時間")
                                return '還未到簽到時間';
                            else if(data.message == "使用者未找到")
                                return '使用者未找到';
                        }
                    }catch(error){
                        console.log(error);
                    }
                }
            }
            return null;
        }

        async function checkCookie() {
            let userCookie = await getCookie("<%= course.course_sl.Item.name %>");
            if (userCookie==true) {
                document.getElementById("message").innerText = "簽到成功";
                document.getElementById("signupForm").style.display = "none";
            } else if (userCookie == null){
                document.getElementById("message").innerText = "";
                document.getElementById("signupForm").style.display = "block";
            }else if(userCookie == '已經簽到過了'){
                document.getElementById("message").innerText = "已經簽到過了";
                document.getElementById("signupForm").style.display = "none";
            }else if(userCookie == '還未到簽到時間'){
                document.getElementById("message").innerText = "還未到簽到時間";
                document.getElementById("signupForm").style.display = "none";
            }else if(userCookie == '使用者未找到'){
                //跳出提示視窗
                alert("使用者未找到");
            }else{
                document.getElementById("message").innerText = "";
                document.getElementById("signupForm").style.display = "block";
            }
        }
        document.addEventListener('DOMContentLoaded', checkCookie);
    </script>
</head>
<body>
    <h1 id="message"></h1>
    <div id="signupForm" style="display:none;">
        <h2><%= course.course_sl.Item.name %> 報名頁面</h2>
        <form>
            <label for="name">名稱:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="phone">電話:</label>
            <input type="tel" id="phone" name="phone" required><br><br>
            <input type="hidden" id="courseId" name="courseId" value="<%= course.course_sl.Item.course_id %>">
            <input type="submit" value="提交">
        </form>
    </div>
    <script>
        document.getElementById('signupForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const username = document.getElementById('name').value;
            const phone = document.getElementById('phone').value;
            const courseId = document.getElementById('courseId').value;
            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username, phone, courseId, date: today, check_time: check_time})
                });
                if (response.ok) {
                    const data = await response.json();
                    const token = data.token;
                    document.getElementById("message").innerText = "新參加者報名成功";
                    document.getElementById("signupForm").style.display = "none";
                    document.cookie = `<%= course.course_sl.Item.name %>=${token}; path=/`;
                    window.location.reload();
                } else {
                    const error = await response.text();
                    alert('報名失敗：' + error);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('報名失敗');
            }
        });
    </script>
</body>
</html>